USE [master]
GO
/****** Object:  Database [1]    Script Date: 10/8/2018 3:36:27 PM ******/
CREATE DATABASE [1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS01\MSSQL\DATA\1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS01\MSSQL\DATA\1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [1]
GO
/****** Object:  Table [dbo].[Alumno]    Script Date: 10/8/2018 3:36:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alumno](
	[Matricula] [int] NOT NULL,
	[Nombre] [nchar](50) NOT NULL,
	[Foto] [image] NULL,
	[idCarrera] [nchar](10) NOT NULL,
	[idMateria] [nchar](10) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carrera]    Script Date: 10/8/2018 3:36:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carrera](
	[idCarrera] [int] NOT NULL,
	[Nombre] [nchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Maestro]    Script Date: 10/8/2018 3:36:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Maestro](
	[Matricula] [int] NOT NULL,
	[Nombre] [nchar](50) NOT NULL,
	[Foto] [image] NULL,
	[Sueldo] [money] NOT NULL,
	[HorarioEntrada] [datetime] NOT NULL,
	[HorarioSalida] [datetime] NOT NULL,
	[Materia] [nchar](20) NOT NULL,
	[idCarrera] [int] NOT NULL,
	[idMateria] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materia]    Script Date: 10/8/2018 3:36:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materia](
	[idMateria] [int] NOT NULL,
	[Nombre] [nchar](10) NOT NULL,
	[Salon] [int] NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
