USE [Library]
GO
/****** Object:  Trigger [TUpdate]    Script Date: 10/27/2018 4:57:49 PM ******/
DROP TRIGGER IF EXISTS [dbo].[TUpdate]
GO
/****** Object:  Trigger [TInsert]    Script Date: 10/27/2018 4:57:49 PM ******/
DROP TRIGGER IF EXISTS [dbo].[TInsert]
GO
/****** Object:  Trigger [TDelete]    Script Date: 10/27/2018 4:57:49 PM ******/
DROP TRIGGER IF EXISTS [dbo].[TDelete]
GO
/****** Object:  StoredProcedure [dbo].[LibrosAE3]    Script Date: 10/27/2018 4:57:49 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[LibrosAE3]
GO
/****** Object:  StoredProcedure [dbo].[LibrosAE2]    Script Date: 10/27/2018 4:57:49 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[LibrosAE2]
GO
/****** Object:  StoredProcedure [dbo].[LibrosAE]    Script Date: 10/27/2018 4:57:49 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[LibrosAE]
GO
/****** Object:  StoredProcedure [dbo].[LibrosA]    Script Date: 10/27/2018 4:57:49 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[LibrosA]
GO
/****** Object:  StoredProcedure [dbo].[LibroFecha1]    Script Date: 10/27/2018 4:57:49 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[LibroFecha1]
GO
/****** Object:  StoredProcedure [dbo].[LibroFecha]    Script Date: 10/27/2018 4:57:49 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[LibroFecha]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Libro]') AND type in (N'U'))
ALTER TABLE [dbo].[Libro] DROP CONSTRAINT IF EXISTS [FK_Libro_Pais]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Libro]') AND type in (N'U'))
ALTER TABLE [dbo].[Libro] DROP CONSTRAINT IF EXISTS [FK_Libro_Generos]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Libro]') AND type in (N'U'))
ALTER TABLE [dbo].[Libro] DROP CONSTRAINT IF EXISTS [FK_Libro_Editorial]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Libro]') AND type in (N'U'))
ALTER TABLE [dbo].[Libro] DROP CONSTRAINT IF EXISTS [FK_Libro_Autor]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Editorial]') AND type in (N'U'))
ALTER TABLE [dbo].[Editorial] DROP CONSTRAINT IF EXISTS [FK_Editorial_Pais]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Autor]') AND type in (N'U'))
ALTER TABLE [dbo].[Autor] DROP CONSTRAINT IF EXISTS [FK_Autor_Pais]
GO
/****** Object:  Table [dbo].[Editorial]    Script Date: 10/27/2018 4:57:49 PM ******/
DROP TABLE IF EXISTS [dbo].[Editorial]
GO
/****** Object:  View [dbo].[Vista5]    Script Date: 10/27/2018 4:57:49 PM ******/
DROP VIEW IF EXISTS [dbo].[Vista5]
GO
/****** Object:  View [dbo].[Vista4]    Script Date: 10/27/2018 4:57:49 PM ******/
DROP VIEW IF EXISTS [dbo].[Vista4]
GO
/****** Object:  Table [dbo].[Pais]    Script Date: 10/27/2018 4:57:49 PM ******/
DROP TABLE IF EXISTS [dbo].[Pais]
GO
/****** Object:  View [dbo].[Vista3]    Script Date: 10/27/2018 4:57:49 PM ******/
DROP VIEW IF EXISTS [dbo].[Vista3]
GO
/****** Object:  View [dbo].[Vista2]    Script Date: 10/27/2018 4:57:49 PM ******/
DROP VIEW IF EXISTS [dbo].[Vista2]
GO
/****** Object:  View [dbo].[Vista1]    Script Date: 10/27/2018 4:57:49 PM ******/
DROP VIEW IF EXISTS [dbo].[Vista1]
GO
/****** Object:  Table [dbo].[Libro]    Script Date: 10/27/2018 4:57:49 PM ******/
DROP TABLE IF EXISTS [dbo].[Libro]
GO
/****** Object:  Table [dbo].[Generos]    Script Date: 10/27/2018 4:57:49 PM ******/
DROP TABLE IF EXISTS [dbo].[Generos]
GO
/****** Object:  View [dbo].[Primera]    Script Date: 10/27/2018 4:57:49 PM ******/
DROP VIEW IF EXISTS [dbo].[Primera]
GO
/****** Object:  Table [dbo].[Autor]    Script Date: 10/27/2018 4:57:49 PM ******/
DROP TABLE IF EXISTS [dbo].[Autor]
GO
/****** Object:  UserDefinedFunction [dbo].[f1]    Script Date: 10/27/2018 4:57:49 PM ******/
DROP FUNCTION IF EXISTS [dbo].[f1]
GO
USE [master]
GO
/****** Object:  Database [Library]    Script Date: 10/27/2018 4:57:49 PM ******/
DROP DATABASE IF EXISTS [Library]
GO
/****** Object:  Database [Library]    Script Date: 10/27/2018 4:57:49 PM ******/
CREATE DATABASE [Library]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Library', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS01\MSSQL\DATA\Library.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Library_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS01\MSSQL\DATA\Library_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Library].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Library]
GO
/****** Object:  UserDefinedFunction [dbo].[f1]    Script Date: 10/27/2018 4:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[f1] (@V1 FLOAT,@V2 FLOAT)

	RETURNS FLOAT 
		AS BEGIN
			RETURN @V1 + @V2
END
GO
/****** Object:  Table [dbo].[Autor]    Script Date: 10/27/2018 4:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Autor](
	[IdAutor] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](30) NULL,
	[ApPaterno] [varchar](20) NULL,
	[ApMaterno] [varchar](20) NULL,
	[IdPais] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAutor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Primera]    Script Date: 10/27/2018 4:57:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Primera] AS SELECT Nombre FROM Autor 
GO
/****** Object:  Table [dbo].[Generos]    Script Date: 10/27/2018 4:57:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Generos](
	[IdGenero] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdGenero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Libro]    Script Date: 10/27/2018 4:57:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Libro](
	[IdLibro] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [varchar](50) NULL,
	[IdGenero] [int] NULL,
	[IdAutor] [int] NULL,
	[IdEditorial] [int] NULL,
	[Fecha_lanzamiento] [smalldatetime] NULL,
	[IdPais] [int] NULL,
	[Costo] [money] NULL,
	[Stock] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdLibro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Vista1]    Script Date: 10/27/2018 4:57:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[Vista1] AS SELECT G.Descripcion, L.Fecha_Lanzamiento FROM Generos G JOIN Libro L  ON G.IdGenero = L.IdGenero WHERE  DATEDIFF(DD, L.Fecha_lanzamiento, '2010-10-10') > 0;  
GO
/****** Object:  View [dbo].[Vista2]    Script Date: 10/27/2018 4:57:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[Vista2] AS SELECT L.Titulo, A.Nombre, G.Descripcion, L.Costo 
	FROM Autor A JOIN Libro L ON L.IdAutor = A.IdAutor JOIN Generos G ON G.IdGenero = L.IdGenero WHERE L.Costo < 500 


GO
/****** Object:  View [dbo].[Vista3]    Script Date: 10/27/2018 4:57:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vista3] AS SELECT MAX (Costo) AS LibroMasCaro FROM Libro;
GO
/****** Object:  Table [dbo].[Pais]    Script Date: 10/27/2018 4:57:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pais](
	[IdPais] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](40) NULL,
	[Codigo_Pais] [varchar](4) NULL,
	[Nacionalidad] [varchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPais] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Vista4]    Script Date: 10/27/2018 4:57:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[Vista4] AS SELECT CONCAT( A.Nombre, ' ' ,A.ApPaterno, ' ', A.ApMaterno) AS 'Nombre Completo' FROM Autor A JOIN Pais P ON A.IdPais = P.IdPais WHERE P.Nombre = 'China';

GO
/****** Object:  View [dbo].[Vista5]    Script Date: 10/27/2018 4:57:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[Vista5] AS SELECT L.Titulo AS LibroBaratos, L.Costo FROM Libro L INNER JOIN Pais P ON L.IdPais = P.IdPais WHERE P.Nombre = 'Mexico';
GO
/****** Object:  Table [dbo].[Editorial]    Script Date: 10/27/2018 4:57:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Editorial](
	[IdEditorial] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](30) NULL,
	[IdPais] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEditorial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Autor] ON 

INSERT [dbo].[Autor] ([IdAutor], [Nombre], [ApPaterno], [ApMaterno], [IdPais]) VALUES (1719804, N'Fernando', N'Reyes', N'Lopez', 1)
INSERT [dbo].[Autor] ([IdAutor], [Nombre], [ApPaterno], [ApMaterno], [IdPais]) VALUES (1953437, N'Mauricio', N'Gonzalez', N'Suarez', 2)
INSERT [dbo].[Autor] ([IdAutor], [Nombre], [ApPaterno], [ApMaterno], [IdPais]) VALUES (1953438, N'Cesar', N'Gomez', N'Lopez', 3)
SET IDENTITY_INSERT [dbo].[Autor] OFF
SET IDENTITY_INSERT [dbo].[Editorial] ON 

INSERT [dbo].[Editorial] ([IdEditorial], [Nombre], [IdPais]) VALUES (1, N'Santillana', 1)
INSERT [dbo].[Editorial] ([IdEditorial], [Nombre], [IdPais]) VALUES (2, N'Lumen', 11)
INSERT [dbo].[Editorial] ([IdEditorial], [Nombre], [IdPais]) VALUES (3, N'Acantilado', 13)
SET IDENTITY_INSERT [dbo].[Editorial] OFF
SET IDENTITY_INSERT [dbo].[Generos] ON 

INSERT [dbo].[Generos] ([IdGenero], [Descripcion]) VALUES (1, N'Drama')
INSERT [dbo].[Generos] ([IdGenero], [Descripcion]) VALUES (2, N'Biografias')
INSERT [dbo].[Generos] ([IdGenero], [Descripcion]) VALUES (3, N'Ciencia')
SET IDENTITY_INSERT [dbo].[Generos] OFF
SET IDENTITY_INSERT [dbo].[Libro] ON 

INSERT [dbo].[Libro] ([IdLibro], [Titulo], [IdGenero], [IdAutor], [IdEditorial], [Fecha_lanzamiento], [IdPais], [Costo], [Stock]) VALUES (3, N'The little Prince', 1, 1719804, 3, CAST(N'2010-10-20T00:00:00' AS SmallDateTime), 10, 600.0000, 200)
INSERT [dbo].[Libro] ([IdLibro], [Titulo], [IdGenero], [IdAutor], [IdEditorial], [Fecha_lanzamiento], [IdPais], [Costo], [Stock]) VALUES (4, N'Historias de Nuevo Orleans', 1, 1953437, 6, CAST(N'1985-05-02T00:00:00' AS SmallDateTime), 11, 675.0000, 20)
INSERT [dbo].[Libro] ([IdLibro], [Titulo], [IdGenero], [IdAutor], [IdEditorial], [Fecha_lanzamiento], [IdPais], [Costo], [Stock]) VALUES (5, N'El libro tachado', 3, 1953444, 3, CAST(N'2012-11-25T00:00:00' AS SmallDateTime), 6, 375.0000, 261)
SET IDENTITY_INSERT [dbo].[Libro] OFF
SET IDENTITY_INSERT [dbo].[Pais] ON 

INSERT [dbo].[Pais] ([IdPais], [Nombre], [Codigo_Pais], [Nacionalidad]) VALUES (1, N'Mexico', N'Mx', N'Mexicano')
INSERT [dbo].[Pais] ([IdPais], [Nombre], [Codigo_Pais], [Nacionalidad]) VALUES (2, N'Estados Unidos', N'EU', N'Estadounidense')
INSERT [dbo].[Pais] ([IdPais], [Nombre], [Codigo_Pais], [Nacionalidad]) VALUES (3, N'Puerto Rico', N'PR', N'Puertoricense')
SET IDENTITY_INSERT [dbo].[Pais] OFF
ALTER TABLE [dbo].[Autor]  WITH CHECK ADD  CONSTRAINT [FK_Autor_Pais] FOREIGN KEY([IdPais])
REFERENCES [dbo].[Pais] ([IdPais])
GO
ALTER TABLE [dbo].[Autor] CHECK CONSTRAINT [FK_Autor_Pais]
GO
ALTER TABLE [dbo].[Editorial]  WITH CHECK ADD  CONSTRAINT [FK_Editorial_Pais] FOREIGN KEY([IdPais])
REFERENCES [dbo].[Pais] ([IdPais])
GO
ALTER TABLE [dbo].[Editorial] CHECK CONSTRAINT [FK_Editorial_Pais]
GO
ALTER TABLE [dbo].[Libro]  WITH CHECK ADD  CONSTRAINT [FK_Libro_Autor] FOREIGN KEY([IdAutor])
REFERENCES [dbo].[Autor] ([IdAutor])
GO
ALTER TABLE [dbo].[Libro] CHECK CONSTRAINT [FK_Libro_Autor]
GO
ALTER TABLE [dbo].[Libro]  WITH CHECK ADD  CONSTRAINT [FK_Libro_Editorial] FOREIGN KEY([IdEditorial])
REFERENCES [dbo].[Editorial] ([IdEditorial])
GO
ALTER TABLE [dbo].[Libro] CHECK CONSTRAINT [FK_Libro_Editorial]
GO
ALTER TABLE [dbo].[Libro]  WITH CHECK ADD  CONSTRAINT [FK_Libro_Generos] FOREIGN KEY([IdGenero])
REFERENCES [dbo].[Generos] ([IdGenero])
GO
ALTER TABLE [dbo].[Libro] CHECK CONSTRAINT [FK_Libro_Generos]
GO
ALTER TABLE [dbo].[Libro]  WITH CHECK ADD  CONSTRAINT [FK_Libro_Pais] FOREIGN KEY([IdPais])
REFERENCES [dbo].[Pais] ([IdPais])
GO
ALTER TABLE [dbo].[Libro] CHECK CONSTRAINT [FK_Libro_Pais]
GO
/****** Object:  StoredProcedure [dbo].[LibroFecha]    Script Date: 10/27/2018 4:57:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[LibroFecha]
	@titulo varchar (50)
	AS SELECT Titulo, Fecha_Lanzamiento
		FROM Libros	
			WHERE Titulo like @titulo
GO
/****** Object:  StoredProcedure [dbo].[LibroFecha1]    Script Date: 10/27/2018 4:57:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[LibroFecha1]
	@titulo varchar (50)
	AS SELECT Titulo, Fecha_Lanzamiento
		FROM Libro
			WHERE Titulo like @titulo
GO
/****** Object:  StoredProcedure [dbo].[LibrosA]    Script Date: 10/27/2018 4:57:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[LibrosA]
	@autor varchar(50)
		AS SELECT Titulo, IdEditorial, Costo
			FROM Libro
				WHERE IdAutor = @autor;
GO
/****** Object:  StoredProcedure [dbo].[LibrosAE]    Script Date: 10/27/2018 4:57:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LibrosAE]
	@autor varchar(50),
	@editorial varchar (30)
		AS SELECT Titulo, Costo
			FROM Libro
				WHERE IdAutor = @autor and IdEditorial=@editorial;
GO
/****** Object:  StoredProcedure [dbo].[LibrosAE2]    Script Date: 10/27/2018 4:57:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[LibrosAE2]
	@autor varchar (15) = '1953449',
	@editorial varchar (10) = '15'
	AS SELECT Titulo, Autor, Editorial, Costo
		FROM Libros	
			WHERE Autor = @autor and Editorial = @editorial;

SELECT * FROM Libro
GO
/****** Object:  StoredProcedure [dbo].[LibrosAE3]    Script Date: 10/27/2018 4:57:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[LibrosAE3]
	@autor varchar (30) = '%',
	@editorial varchar (30) = '%'
	AS SELECT Titulo, Autor, Editorial, Costo
		FROM Libros	
			WHERE Autor like @autor and Editorial like @editorial;
GO
/****** Object:  Trigger [dbo].[TDelete]    Script Date: 10/27/2018 4:57:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TDelete]
ON [dbo].[Autor]
 INSTEAD OF DELETE
	AS
			SELECT * FROM deleted
		
GO
ALTER TABLE [dbo].[Autor] ENABLE TRIGGER [TDelete]
GO
/****** Object:  Trigger [dbo].[TInsert]    Script Date: 10/27/2018 4:57:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TInsert]
on [dbo].[Libro]
INSTEAD OF INSERT
AS
	SELECT *FROM inserted
GO
ALTER TABLE [dbo].[Libro] ENABLE TRIGGER [TInsert]
GO
/****** Object:  Trigger [dbo].[TUpdate]    Script Date: 10/27/2018 4:57:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TUpdate]
ON [dbo].[Pais]
AFTER UPDATE
	AS 
		SELECT * FROM inserted
		SELECT * FROM deleted
GO
ALTER TABLE [dbo].[Pais] ENABLE TRIGGER [TUpdate]
GO
USE [master]
GO
